@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&family=Poppins&display=swap');

body {
    background-color: #fdfbf6;
}

.filter {
    display: block;
    /* width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ebddaa;
    padding: 30px 25px;
    margin: 60px 0px 70px; */

    background: rgb(255 255 255);
    border-radius: 10px;
    padding: 30px 25px;
    margin: 60px 0px 70px;
    border: 1px solid #ebddaa;
}

@media screen and (max-width: 767px) {
    .filter {
        display: none;
    }
}

.profileare .fa-bars {
    background-color: rgb(196, 157, 60);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.hr {
    --mdb-divider-bg: #ebddaa;
}

.profileare {

    padding-right: 20px;
    padding-left: 30px;
}

.profileare .h5 {
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.cardarea {
    margin-top: -50px;
}

.cardarea .card-title {
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.card {
    padding: 8px;
    /* margin: 10px 0px 10px 15px; */
}

.card .fa {
    color: #601e4f;
}

.card-body .card-title:hover {
    color: #601e4f;
}

.card-body {
    padding-top: 7px;
}

@media screen and (max-width: 767px) {
    .card-body {
        padding-top: 10px;
    }
}

.card img {
    /* position: relative;
  text-align: center; */
    width: 100%;
    float: left;
    object-fit: cover;
    height: 100%;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    border-radius: 4px;
}

.card .tags {
    /* border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 8px;
    font-size: small; */
    background: rgb(255, 255, 255);
    border: 1px solid rgb(225, 231, 236);
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 30px;
    float: left;
    margin: 0 8px 8px 0;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.card .tags:hover {
    background-color: green;
    color: white;
}

.card-body span {
    font-weight: 500
}

.profile-img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.profile-img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.filter .fa {
    border-radius: 11px;
    border-style: solid;
    padding: 5px;
    border-color: #ebddaa;
}

.filter .form-label {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(96, 30, 79);

}

.filter select {

    /* border-style: solid; */
    padding: 12px;
    /* border-color: rgb(96, 30, 79); */
    color: rgb(96, 30, 79);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(96, 30, 79);

}

.filter option {

    font-size: 14px;
    color: rgb(96, 30, 79);
    background-color: rgba(255, 71, 209, 0.106);

}



.modal-body .fa {
    border-radius: 11px;
    border-style: solid;
    padding: 5px;
    border-color: #ebddaa;
}

.modal-body .form-label {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(96, 30, 79);

}

.modal-body select {

    border-style: solid;
    padding: 12px;
    border-color: rgb(96, 30, 79);
    color: rgb(96, 30, 79);
    font-size: 14px;
    font-weight: 600;
}

.modal-body option {

    font-size: 14px;
    color: rgb(96, 30, 79);
    background-color: rgba(255, 71, 209, 0.106);

}

.filter-mob {
    display: none;
    background-color: rgba(255, 192, 203, 0.685);
    padding: 5px;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 767px) {
    .filter-mob {
        display: block;
    }
}

.upper ul {
    float: right;
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
}

.col-md-8 .card-title {
    color: rgb(33, 37, 41);
    font-weight: 600;

    font-size: 26px;
}

.like .fa {
    float: right;
    color: blue;
}

.profileare select {
    border: 1px solid rgb(96, 30, 79);
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
}

.upper .fa-th {
    border: 1px solid #601e4f;
    padding: 10px;
    border-radius: 8px;
}

.upper .float-end {

    margin-top: -37px;

}

.end {
    display: block;
}

@media screen and (max-width: 767px) {
    .end {

        display: none;

    }
}

.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    color: #66451c;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}
.navbar .nav-link:hover{
    color: rgb(108, 88, 224);
}
.navbar .navbar-brand {
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
    font-weight: 700;   
    margin-left: -8px;

}

.navbar-collapse {
    margin-left: 85px;
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        margin-left: 9px;
    }
    .navbar-collapse {
        margin-left: -25px;
    }
}

.top-head{
    background: linear-gradient(to right, rgb(96, 8, 118), rgba(17, 6, 64, 0.979));
    width: 100%;
    height: 30px;
}

@media screen and (max-width: 767px) {
    .top-head{display: none;}
}

.navbar{
    padding: 20px;
}
.navbar .container-fluid{
    margin: 0px 48px 0px 39px;
}
@media screen and (max-width: 767px) {
    .navbar{
        padding: 10px;
    }
    .navbar .container-fluid{
        margin: 0px 0px 0px 0px;
    }
}
.navbar-brand{
   margin-right: 0px;
   
}
@media screen and (max-width: 380px) {
    .navbar .fa-message    {
        display: none;
    } .navbar .fa-bell  {
        display: none;
    }
    .navbar .badge-notification  {
        display: none;
    }
}

.navbar ul{
    margin-left: 38px;
}
.navbar .rounded-circle{
    height: 38px;
}
@media screen and (max-width: 764px) {
    .navbar .rounded-circle{
        height: 30px;
    }
}
@media screen and (max-width: 393px) {
    .navbar .fa fa-bell{
       display: none;
    }
    .navbar ul{
        margin-left: 0px;
    }
}
.head1mob{
    display: none;
}

@media screen and (max-width: 767px) {
   .head1mob{
    display: block;
   }
   
}
/* .ele-right{
    margin: auto;
} */