@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');

body {
    background-color: #fdfbf6;
}

.filter {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ebddaa;
    padding: 30px 25px;
    margin: 60px 0px 70px;
}

@media screen and (max-width: 767px){
    .filter{
        display: none;
    }
}

.profileare .fa-bars {
    background-color: rgb(196, 157, 60);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.hr {
    --mdb-divider-bg: #ebddaa;
}

.profileare {

    padding-right: 20px;
    padding-left: 30px;
}

.profileare .h5 {
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.cardarea {
    margin-top: -30px;
}

.cardarea .card-title {
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.card {
    padding: 8px;
}

.card-body {
    padding-top: 7px;
}
@media screen and (max-width: 767px){
    .card-body {
        padding-top: 10px;
    }  
}
.card img{
    position: relative;
  text-align: center;
}

.card .tags{
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 8px;
    font-size: small;
    
}

.profile-img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.profile-img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.filter .fa {
    border-radius: 11px;
    border-style: solid;
    padding: 5px;
    border-color: #ebddaa;
}

.filter .form-label {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(96, 30, 79);

}

.filter select {

    border-style: solid;
    padding: 12px;
    border-color: rgb(96, 30, 79);
    color: rgb(96, 30, 79);
    font-size: 14px;
    font-weight: 600;
}

.filter option {

    font-size: 14px;
    color: rgb(96, 30, 79);
    background-color: rgba(255, 71, 209, 0.106);

}



.modal-body .fa {
    border-radius: 11px;
    border-style: solid;
    padding: 5px;
    border-color: #ebddaa;
}

.modal-body .form-label {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(96, 30, 79);

}

.modal-body select {

    border-style: solid;
    padding: 12px;
    border-color: rgb(96, 30, 79);
    color: rgb(96, 30, 79);
    font-size: 14px;
    font-weight: 600;
}

.modal-body option {

    font-size: 14px;
    color: rgb(96, 30, 79);
    background-color: rgba(255, 71, 209, 0.106);

}
.filter-mob{
    display: none;
    background-color: rgba(255, 192, 203, 0.685);
    padding: 5px;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif   ;
}
@media screen and (max-width: 767px){
    .filter-mob{
        display: block;
    }
}